torch>=2.0
transformers>=4.34.1
datasets
numpy
pandas
tqdm
openai
requests
ray
text-generation
colorlog
termcolor
jsonlines
openai>=1.2.2
json5
einops
ray
shortuuid
psutil
sentencepiece
gradio
scikit-learn
